<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niels.geooulu">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".GeoOulu"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <service android:name=".GeoFenceTransitionIntentService" />
        <service android:name=".NotificationService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".finishGame$PointsListener">
            <intent-filter>
                <action android:name="ACTION_GAME_POINTS" />
            </intent-filter>
        </receiver>

        <receiver android:name=".SetAlarmBroadcastReceiver" />

        <receiver android:name=".SetGPSAlarmBroadcastReceiver" />

        <receiver android:name=".NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".app.SecondActivity"
            android:label="@string/title_activity_second" />
        <activity
            android:name=".nongamified.SecondActivity"
            android:label="@string/title_activity_second"></activity>
    </application>

</manifest>
